body {
    
    background: url("../img/snusprillor.jpg");
    background-size: 20%;
    
}

.main {
    background-color: white;
    border: none;
    width: 950px;
    margin: 135px auto;
    border-radius: 2%;
    padding: 45px;
}

.content{
    display: flex;
}

.bild {
    width: 30%;
}

.text{
    width: 70%;
    margin-left: 20px;
}

img{
    max-width: 100%;
}

h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
   
}

table{
    border-collapse: separate;
    width: 100%;
    margin-top: 60px;
    padding: 5px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3a4572;
    color: white;
}

td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    background-color: #b1b1b1;
}
