body {
    background-color:

    
}
.center{
    background-color:
    border: 1px solid black;
    width: 950px;
    margin: 0 auto;
    border-radius: 5px


}


.top5 {
    
    min-width: 100%
    
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

.main {
    border: none;
    margin: auto 15%;
}