body {
    margin: auto;
    background-color: #303030;
}
/* sidans yta*/
.main{
    background-color: white;
    border: none;
    width: 950px;
    margin: 0 auto;



}

/* header bild*/
.top5 {
    
    min-width: 100%
    
}
/* header rubrik*/
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}


/* bilder utan class*/
img{
    max-width: 10%;
}
/* lista med bilder*/
li {
    padding: 2%;
    font-size: 25px;
    font-family: fantasy;
    margin-inline: 20px;
}
/*för att divarna ska va sida vid sida*/
.content{
    display: flex;
}
/*bredden på listan*/
.snusbild
{
    border: none;
    width: 80%;
}
/*bredden på priserna*/
.pris{
    border: none;
    width: 20%;
}

/* justerar prislistan*/
dt {
    padding: 280%;
    font-size: 23px;
    font-family: sans-serif;
}
/*sätter divar sida vid sida och maginalen uppåt*/
footer {
    display: flex;
    margin-top: 40px;
}

.htmlcerti {
    width: 30%;
    text-align: center;
}

.info {
    width: 50%;
}

.csscerti {
    width: 30%;
    text-align: center;
}

.cssbild {
    max-width: 70%;
}

.htmlbild {
    max-width: 70%;
}
p{
    margin: 0%;
}

.pdiv{
        margin-top: 44px;
        font-size: smaller;
}
