body {
    background-color:

    
}
.main{
    background-color:
    border: 1px solid black;
    width: 950px;
    margin: 0 auto;
    border-radius: 5px


}


.top5 {
    
    min-width: 100%
    
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}



img{
    max-width: 10%;
}

li {
    padding: 2%;
    font-size: 20px;
}